<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">JavaScriptBlog</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>

            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="blogsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Blogs
                </a>

                <div class="dropdown-menu" aria-labelledby="blogsDropdown">
                    <a href="/blogs" class="dropdown-item">Archive</a>
                    <div class="dropdown-divider"></div>
                    <a href="/blogs/new" class="dropdown-item">New Post</a>
                </div>
            </li>
        </ul>
    </div>
</nav>